body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #d55b3e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100px;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  line-height: 19px;
  color: #d55b3e;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #00aaa0;
  border-radius: 20px;
}
